@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 2rem));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

@media (hover: hover) {
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
}